@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins";
  color: rgb(201, 201, 201);
}

section {
  margin: 3vh 2vw;
  padding-top: 50px;
}

h1 {
  font-family: "Poppins";
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 3vh;
}

/* ######### NAVBAR ######### */


:root {
  --height-menu: 60px;
  --bcg-color-navbar: transparent;
  --font-color-navbar: white;
  --bcg-color-sub-menu: rgba(30, 30, 30, 0.7);
  --font-color-sub-menu: rgba(255, 255, 255, 0.8);
  --border-bottom-color: rgba(33, 112, 214, 0.8);

}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 2000;
  background: rgb(36, 36, 36);
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: var(--height-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: var(--bcg-color-navbar);
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a {
  color: #2169ec;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: var(--font-color-navbar);
}

.dropdown-1 > a:after {
  content: "â¯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.dropdown-1:hover > a:after {
  animation: rotatearrow 0.2s linear forwards;
}

@keyframes rotatearrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sub-menu {
  margin-top: var(--height-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  color: var(--font-color-sub-menu);
  border-radius: 8px;
  background-color: var(--bcg-color-sub-menu);
  position:relative;
}

.dropdown-1:hover > .sub-menu {
  animation: submenuappear 1s forwards;
}

@keyframes submenuappear {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #2169ec;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169ec;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.sub-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
  position: relative;
}

.sub-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;

}

.sub-menu > li:hover > a {
  color: var(--font-color-navbar);
}

/* #############End NAVBAR ###########*/

/* ##### MAIN ###### */

#bg {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: auto;
  z-index: -1;
} 

#bg img {
  width: 100%;
  height: 450px;
}


.pres-country {
  display: flex;
  flex-direction: row;
  padding: 100px 50px;
  flex-wrap: wrap;
  margin-top: -10px;
  color: white;
}

.container-left {
  width: 33%;
}

.container-left h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.container-left p {  
  font-family: "Poppins", sans-serif;
}

/* ##### Carousel ###### */

.container-right {
  position: relative;
  perspective: 1000px;
  margin-left: 450px;
  margin-top: 30px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(-360deg) translateZ(+300px);
  animation: animate 60s steps(10000, end) infinite;
}
#carousel div {
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  border: 0px solid #000;
}
#carousel div img {
  width: 150px;
  height: 100px;
  border-radius: 5%;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  z-index: -1;
}
#carousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
}
#carousel div:nth-child(2) {
  transform: rotateY(60deg) translateZ(250px);
}
#carousel div:nth-child(3) {
  transform: rotateY(120deg) translateZ(250px);
}
#carousel div:nth-child(4) {
  transform: rotateY(180deg) translateZ(250px);
}
#carousel div:nth-child(5) {
  transform: rotateY(240deg) translateZ(250px);
}
#carousel div:nth-child(6) {
  transform: rotateY(300deg) translateZ(250px);
}
@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* ##### Carousel END ##### */

/* ##### Cities ##### */

.finland-container {
  max-width: 800px;
  margin: 0 auto;
  }
  
  .finland-countries {
   padding: 2rem 0;
   color: white;
  }
  
  .finland-header {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  }
  
  .finland-countries-slider {
   font-family: "Poppins", sans-serif;
   margin: 20px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;   
   align-items: center;
  }
  
  .finland-countries-slider a {
   cursor: pointer;
   padding: 5px;
  }
  
  .finland-countries-slider a:hover {
  transform: scale(1.15);
  transition: 0.5s;
  }
  
  .finland-country {
  margin: 20px 0;
  display: grid;
  grid-template: repeat(1, 250px)/repeat(3, 1fr);
  gap: 10px;
  justify-content: space-around;
  }
  
  .finland-country img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
  
  .finland-active {
  border: solid 1px;
  border-radius: 15px;
  }

/* ##### END Cities ##### */

/* ##### AMBASSADE ##### */

.finland-ambassade-box {   
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -3px 0;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 15px;
  flex-direction: row;
}

.finland-ambassade-box-left {
  flex-direction: column;
  box-sizing: border-box;
  width: 20vw;
}

.finland-ambassade-sommaire {
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  margin: 15px 0;
}

.finland-ambassade {
  width: 20vw;
  height: auto;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 5px;
}

.finland-ambassade-box img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.finland-ambassade-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 35vw;
}

.finland-ambassade-maps {
  width: 23vw;
  height: 35vh;
  box-sizing: border-box;
  border-radius: 15px;
}

.finland-ambassade-contact {
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.finland-ambassade-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25vw;
  line-height: 20px;
  border-radius: 15px;
  margin-left: 20px;
}


.finland-ambassade-adresse {
  font-size: 15px;
  box-sizing: border-box;

}

.finland-ambassade-numero {
  font-size: 15px;
  box-sizing: border-box;
  margin-right: 20px;
  text-align: start;
}

.finland-ambassade-site {
  font-size: 15px;
  box-sizing: border-box;
}

.icon {
  margin-right: 10px;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden:nth-of-type(even) {
  transform: translateX(100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.show:nth-of-type(even) {
  transform: translateX(0);
}

/* ##### END AMBASSADE ##### */
  

/* ############ FOOD SECTION ###########*/

.finland-food {  
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
}

.finland-food article {
  position: relative;
    margin-top: -50px;
    margin-bottom: 50px;
}

.finland-food img {
  height: 250px;
  width: auto;
  margin: 0 50px;
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.726));
  filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.728));
}

.finland-food img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.finland-food p {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -25px;
  top: -25px;
  opacity: 0.15;
  transition: .5s ease;
  background-color: rgb(255, 255, 255);
  margin: 0 50px;
  border-radius: 15px;
  padding: 5px 15px;
  color: rgb(9, 155, 145);
  text-transform: uppercase;
  font-weight: 600;
}

.finland-food article:hover p {
  opacity: 1;
}

/* ############ END FOOD SECTION ###########*/

/* ############ END MAIN ###########*/

/* ############ FOOTER ###########*/

footer {
  margin-top: -100px;
}
.logo img {
  width: 250px;
  margin-top: 20px;
  padding-right: 20px;
}
.container {
  max-width: 1500px;
  margin: auto;
  position: relative;
  z-index: 100;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #731ee9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  scale: 1.15;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* ########### END Footer ########### */