@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: rgb(201, 201, 201);
}

section {
  margin: 3vh 2vw;
  padding-top: 50px;
}
header h1 {
  font-family: "Poppins";
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 3vh;
}
header{
  background-image: url(../assets/assets-vietnam/imgback2.jpg) ;
  height: 100vh;
 overflow: hidden;
 padding: 0;
 margin: 0;
 }

/* ######### NAVBAR ######### */


:root {
  --height-menu: 60px;
  --bcg-color-navbar: transparent;
  --font-color-navbar: white;
  --bcg-color-sub-menu: rgba(255, 255, 255, 0.233);
  --font-color-sub-menu: rgba(33, 112, 214, 0.8);
  --border-bottom-color: rgba(33, 112, 214, 0.8);

}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  top: 0;
  z-index: 10;
  padding-top: 2%;
}

nav > ul {
  display: flex;
  text-align: center;
  height: var(--height-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: var(--bcg-color-navbar);
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a {
  color: #2169ec;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: var(--font-color-navbar);
}

.dropdown-1 > a:after {
  content: "â¯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.dropdown-1:hover > a:after {
  animation: rotatearrow 0.2s linear forwards;
}

@keyframes rotatearrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sub-menu {
  margin-top: var(--height-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  color: var(--font-color-sub-menu);
  border-radius: 8px;
  background-color: var(--bcg-color-sub-menu);
  position:relative;
  z-index: 999;
}

.dropdown-1:hover > .sub-menu {
  animation: submenuappear 1s forwards;
}

@keyframes submenuappear {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);

  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;

    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.sub-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
  position: relative;
  z-index: 999;
}

.sub-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;

}

.sub-menu > li:hover > a {
  color: var(--font-color-sub-menu);
}

/* #############End NAVBAR ###########*/

.container-left {
  display: flex;
  width: 33%;
  color: white;
  padding-top: 10%;
  padding-left: 5% ;
  flex-direction: column;
}

.container-left h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 120px;
  color: white
}
.container-left p{
  font-size: 24px;
  font-family: 'roboto',sans-serif;
}
/* ##### MAIN ###### */

.pres-country {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  flex-wrap: wrap;
}


/* ##### Carousel ###### */

.container-right {
  position: relative;
  perspective: 1000px;
  margin-left: 600px;
  margin-top: 100px;

}

#carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(-360deg) translateZ(+300px);
  animation: animate 60s steps(10000, end) infinite;
}
#carousel:hover {
  animation-play-state: paused;
}
#carousel img:hover{
height: 200px;
width: 250px;
}

#carousel div {
  display: block;
  height: 100px;
  width: 100px;
  position: relative ;
  border: 0px solid #000;
}
#carousel div img {
  width: 200px;
  height: 150px;
  border-radius: 5%;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  z-index: -1;

  
}
#carousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(200px);
}
#carousel div:nth-child(2) {
  transform: rotateY(72deg) translateZ(200px);
}
#carousel div:nth-child(3) {
  transform: rotateY(144deg) translateZ(200px);
}
#carousel div:nth-child(4) {
  transform: rotateY(216deg) translateZ(200px);
}
#carousel div:nth-child(5) {
  transform: rotateY(288deg) translateZ(200px);
}
#carousel div:nth-child(6) {
  transform: rotateY(360deg) translateZ(200px);
}
@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* ##### Carousel END ##### */
main{
  background-color: #3e4046;
}

.titlespot {
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  color: white;
  display: flex;
  justify-content: end;
  padding-top: 3%;
  padding-right: 5%;
}

.spot img{
  height: 280px;
  width: 450px;
  border-radius: 4%;
  display: flex;
}
#lieu1 h1{
  display: flex;
  flex-direction: row;
}

#lieu1{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#lieu1 h1 {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #ffffff;
}
#lieu1 p {
  padding-top: 1%;
}

#lieu2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
#lieu2 h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #ffffff;
 
}
#lieu2 p {
  padding-top: 1%;

}

.txt{
  width: 60vw;
}

/* ##### Cities ##### */

.vietnam-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 5%;
  }
  
  .vietnam-countries {
   padding: 2rem 0;
  }
  
  .vietnam-header {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  }
  
  .vietnam-countries-slider {
   margin: 20px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;   
   align-items: center;
  }
  
  .vietnam-countries-slider a {
  cursor: pointer;
  }
  
  .vietnam-countries-slider a:hover {
  font-size: 18px;
  }
  
  .vietnam-country {
  margin: 20px 0;
  display: grid;
  grid-template: repeat(1, 300px)/repeat(3, 1fr);
  gap: 30px;
  justify-content: space-between;
  justify-content: center;

  }
  
  .vietnam-country img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
  }
  
  .vietnam-active {
  font-size: 18px;
  border: solid 1px;
  padding: 5px;
  border-radius: 15px;
  }

/* ##### END Cities ##### */

/* ##### AMBASSADE ##### */

.vietnam-ambassade-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 15px;
  flex-direction: row;
  margin-bottom: 10%;
}

.vietnam-ambassade-box-left {
  flex-direction: column;
  box-sizing: border-box;
  width: 20vw;

}

.vietnam-ambassade-sommaire {
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
#AMBtitle{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 1%;
}
.vietnam-ambassade {
  width: 20vw;
  height: 30vh;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 5px;
}

.vietnam-ambassade-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 35vw;
}

.vietnam-ambassade-maps {
  width: 23vw;
  height: 35vh;
  box-sizing: border-box;
  border-radius: 15px;
}

.vietnam-ambassade-contact {
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.vietnam-ambassade-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25vw;
  line-height: 20px;
}

.vietnam-ambassade-adresse {
  font-size: 15px;
  box-sizing: border-box;
}

.vietnam-ambassade-numero {
  font-size: 15px;
  box-sizing: border-box;
  margin-right: 20px;
  text-align: start;
}

.vietnam-ambassade-site {
  font-size: 15px;
  box-sizing: border-box;
}

.icon {
  margin-right: 10px;
}

/* ##### END AMBASSADE ##### */
  

/* ############ FOOD SECTION ###########*/

.vietnam-food {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url(../assets/food_table.jpg);
  background-size: 100%;
  margin: 100px 0;
}

.vietnam-food img {  
  height: 250px;
  width: auto;
  margin: 0 200px;
  position: relative;
}
.fooddoc{
  height: 100vh;
	width: 80vh;
  display: flex; 
  justify-content: space-between;

  padding-top: 3%;
}
#plat{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 7%;

}
#plat2{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 7%;

}
#plat3{
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 9%;

}
.imgfood{
  height: 280px;
  width: 450px;
  border-radius: 4%;
  margin-top: 6%;

}

/* ############ END FOOD SECTION ###########*/

/* ############ END MAIN ###########*/

/* ############ FOOTER ###########*/



.logo img {
  width: 250px;
  margin-top: 20px;
  padding-right: 20px;
}
.container {
  max-width: 1500px;
  margin: auto;
  position: relative;
  z-index: 100;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #1e1f24;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #731ee9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  scale: 1.15;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* ########### END Footer ########### */


@media (max-width: 430px){
.pres-country{ 
  display: flex;
  flex-direction: column;
}
.container-left{
  width: 80%;

}
.container-right{
  display: none;
}
.vietnam-country {
  margin: 20px 0;
  display: grid;
  grid-template: repeat(1, 300px)/repeat(1, 3fr);
  gap: 30px;
  justify-content: space-between;
  justify-content: center;

  }
  .vietnam-food {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background: url(../assets/food_table.jpg);
    background-size: 100%;
    margin: 0px 20px;
    width: 0vw;
  }
.fooddoc{
  display: flex;
  flex-direction: column;
width: 80%;
height: 100%;
padding-bottom: 5%;
}
.vietnam-food img {  
  height: 250px;
  display: none;
  width: auto;
  margin: 0px;
  position: relative;
}
.imgfood{
  width: 100%;
  height: auto  ;
}
.spot img{
  height: 280px;
  width: 450px;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
}
#lieu1 {
  display: flex;
  flex-direction: column;
}
.titlespot {
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  color: white;
  display: flex;
  padding-top: 3%;
  padding-right: 5%;
flex-direction: column;
}
.spot{
  display: flex;
  flex-direction: column;
}
.txt{
  display: flex;
  flex-direction: column;
}
#HALONG{
  display: flex;
  flex-direction: column;
  padding-right: 2px;
  width: 400px;
height: auto;
margin-top: 3%;
}
#Sa-Pa{
  width: 400px;
  height: auto;
  margin-bottom: 3%;
}
#lieu2 {
  display: flex;
  flex-direction: column;
}
.vietnam-ambassade-box{
  display: flex;
  flex-direction: column;
}
.vietnam-ambassade{
  width: 350px;
  height: auto;
 
}
.vietnam-ambassade-maps{
  width: 400px;
  height: auto;
}

.vietnam-ambassade-box-left {
  flex-direction: column;
  box-sizing: border-box;
  width: 90vw;

}


}