@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: #fed8b1;
  background-color: rgb(255, 255, 255);
}

header {
  background: url(../assets/assets-usa/usa-westerne-leo.jpg);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

section {
  margin: 3vh 2vw;
  padding-top: 50px;
}
h1 {
  font-family: "Poppins";
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 3vh;
}

/* ######### NAVBAR ######### */


:root {
  --height-menu: 60px;
  --bcg-color-navbar: transparent;
  --font-color-navbar: white;
  --bcg-color-sub-menu: rgba(255, 255, 255, 0.7);
  --font-color-sub-menu: rgba(33, 112, 214, 0.8);
  --border-bottom-color: rgba(33, 112, 214, 0.8);

}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: var(--height-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: var(--bcg-color-navbar);
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a {
  color: #2169ec;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: var(--font-color-navbar);
}

.dropdown-1 > a:after {
  content: "❯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.dropdown-1:hover > a:after {
  animation: rotatearrow 0.2s linear forwards;
}

@keyframes rotatearrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sub-menu {
  margin-top: var(--height-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  color: var(--font-color-sub-menu);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.352);
  position:relative;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.dropdown-1:hover > .sub-menu {
  animation: submenuappear 1s forwards;
}

@keyframes submenuappear {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #2169ec;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169ec;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.sub-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
  position: relative;
  z-index: 999;
}

.sub-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;

}

.sub-menu > li:hover > a {
  color: var(--bcg-color-sub-menu);
}

/* #############End NAVBAR ###########*/

.pres-country {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  flex-wrap: wrap;
  background-size: 100%;

}

.container-left {
  width: 33%;
  border-radius: 15px;
  backdrop-filter: blur(50px);
  padding: 20px;
  box-shadow: 0px 0px 30px 10px rgb(122, 122, 122);
}

.container-left h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.container-left p {
  line-height: 20px;
}

/* ##### Carousel ###### */

.container-right {
  position: relative;
  perspective: 1000px;
  margin-left: 450px;
  margin-top: 180px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(-360deg) translateZ(+300px);
  animation: animate 60s steps(10000, end) infinite;
  z-index: 0;
}

#carousel div {
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  border: 0px solid #000;
}
#carousel div img {
  width: 150px;
  height: 100px;
  border-radius: 5%;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  z-index: -1;
}
#carousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
}
#carousel div:nth-child(2) {
  transform: rotateY(60deg) translateZ(250px);
}
#carousel div:nth-child(3) {
  transform: rotateY(120deg) translateZ(250px);
}
#carousel div:nth-child(4) {
  transform: rotateY(180deg) translateZ(250px);
}
#carousel div:nth-child(5) {
  transform: rotateY(240deg) translateZ(250px);
}
#carousel div:nth-child(6) {
  transform: rotateY(300deg) translateZ(250px);
}
@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* ##### Carousel END ##### */

/* ##### MAIN ###### */

/* ##### Cities ##### */

.usa-container {
  max-width: 1000px;
  margin: 0 auto;
  }
  
  .usa-countries {
   padding: 2rem 0;
  }
  
  .usa-header {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  }
  
  .usa-countries-slider {
   margin: 20px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;   
   align-items: center;
  }
  
  .usa-countries-slider a {
  cursor: pointer;
  }
  
  .usa-countries-slider a:hover {
  font-size: 18px;
  }
  
  .usa-country {
  margin: 20px 0;
  display: grid;
  grid-template: repeat(1, 250px)/repeat(3, 1fr);
  gap: 10px;
  justify-content: space-around;
  }
  
  .usa-country img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  }
  
  .usa-active {
  font-size: 18px;
  border: solid 1px;
  padding: 5px;
  border-radius: 15px;
  }

/* ##### END Cities ##### */

/* ##### AMBASSADE ##### */

.usa-ambassade-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 15px;
  flex-direction: row;
}

.usa-ambassade-box-left {
  flex-direction: column;
  box-sizing: border-box;
  width: 20vw;
}

.usa-ambassade-sommaire {
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
}

.usa-ambassade {
  width: 250px;
  height: 170px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: -10px 5px 10px #b8b6b6;
}

.usa-ambassade-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 35vw;
}

.usa-ambassade-maps {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 10px 5px 10px  #b8b6b6;
}

.usa-ambassade-contact {
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.usa-ambassade-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25vw;
  line-height: 20px;
}

.usa-ambassade-adresse {
  font-size: 15px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-left: 2px;
}

.usa-ambassade-numero {
  font-size: 15px;
  box-sizing: border-box;
  margin-right: 20px;
  text-align: start;
  margin-left: 2px;
}

.usa-ambassade-site {
  font-size: 15px;
  box-sizing: border-box;
  color: #fed8b1;
  margin-left: 2px;
}

.icon {
  margin-right: 10px;
}

/* ##### END AMBASSADE ##### */
  

/* ############ FOOD SECTION ###########*/

.usa-food {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url(../assets/assets-usa/usa-verkbgfuv-leo.png);
  background-position: center;
  background-size: cover;
  margin: 100px 0;
  height: 250px;
  width: 100%;
}

.usa-food img {  
  height: 200px;
  width: auto;
  margin: 0 50px;
  position: relative;
  border-radius: 15px;
}

/* ############ END FOOD SECTION ###########*/

/* ############ END MAIN ###########*/

/* ############ FOOTER ###########*/

footer {
  margin-top: 100px;
}
.logo img {
  width: 250px;
  margin-top: 20px;
  padding-right: 20px;
}
.container {
  max-width: 1500px;
  margin: auto;
  position: relative;
  z-index: 100;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #731ee9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  scale: 1.15;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* ########### END Footer ########### */